<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<br>
{% for message in get_flashed_messages()%}
    {{message}}
{% endfor %}
<br>

<h2>
this is the auth.login page 用户登录页面
</h2>

<br>
{% for message in form.errors%}
    <p>{{form.errors[message]}}</p>
{% endfor %}
<br>
<form method="post">
    {{ form.csrf_token }}
    <p>
        用户名：{{form.username}}
    </p>
    <p>
        密码：{{form.password}}
    </p>
    <p>
        确认密码：{{form.password2}}
    </p>
    <p>
        记住我：{{ form.remember }}
    </p>

    <p>
         {{form.submit}}
    </p>
</form>

</body>
</html>