<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新用户注册</title>
</head>
<body>

<h3>新用户注册</h3>


<br>
{% for message in form.errors%}
    {{form.errors[message]}}
{% endfor %}
<br>
<form method="post">
    {{ form.csrf_token }}
    <p>
        昵称：{{form.nickname}}
    </p>
    <p>
        用户名：{{form.username}}
    </p>
    <p>
        邮箱地址:{{form.email}}
    </p>
    <p>
        密码：{{form.password}}
    </p>
    <p>
        确认密码：{{form.password2}}
    </p>
    <p>
         {{form.submit}}
    </p>


</form>


</body>
</html>