<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>

<br>
{% for message in get_flashed_messages()%}
    {{message}}
{% endfor %}
<br>
<h2>请输入新的密码并确认</h2>
<br>
{% for message in form.errors%}
    <p>{{form.errors[message]}}</p>
{% endfor %}
<br>
<form action="" method="post">
    {{ form.csrf_token() }}
    <p>请输入您的邮箱：{{ form.email }}</p>
    <p>请输入新密码：{{ form.password }}</p>
    <p>请确认新密码：{{ form.password2 }}</p>
    <p>{{ form.submit }}</p>
</form>

</body>
</html>